<a href="https://colab.research.google.com/github/huzaifajsr/Data_Lab/blob/develop/data_analysis_with_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
data = {
    'Name': ['Tom', 'Nick', 'Krish', 'Jack'],
    'Age': [20, 21, 19, 18]
}
df = pd.DataFrame(data)
print(df)

    Name  Age
0    Tom   20
1   Nick   21
2  Krish   19
3   Jack   18